<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {{ alt_seo:meta }}

        <meta name="description" content="{{ excerpt ?? title }}" />
        <meta name="theme-color" content="00908F" />
        {{ vite src="resources/js/site.js|resources/css/site.css" }}

        <link rel="icon" type="image/png" href="/build/icons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/build/icons/favicon.svg" />
        <link rel="shortcut icon" href="/build/icons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/build/icons/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Creo" />
        <link rel="manifest" href="/build/icons/site.webmanifest" />
    </head>
    <body
        class="bg-white font-sans leading-normal text-grey-800 px-4 sm:px-10"
        x-data="{ showMobileNav: false }"
    >
        {{ partial:nav }} {{ template_content }} {{ partial:footer }}

        <style></style>

        <!-- {{ AltCookies:Toast }} -->
    </body>
</html>
