<section class="pb-10 md:pb-16 bg-white dark:bg-gray-900 transition-colors duration-300">
    <div class="container max-w-screen-xl mx-auto px-4 text-center">
        <!-- <div class="flex justify-center mb-16">
            <img src="assets/image/home-img.png" alt="Image">
        </div> -->

        <h6 class="font-medium text-gray-600 dark:text-gray-400 text-lg md:text-2xl uppercase mb-8">{{ subtitle }}</h6>

        <h1 class="font-normal text-gray-900 dark:text-white text-4xl md:text-7xl leading-none mb-8">Fullstack Web Developer</h1>

        <div class="content py-4 leading-relaxed text-lg px-6 pb-10 text-gray-700 dark:text-gray-300">
            {{ content }}
        </div>

        <a href="#" class="px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 dark:bg-gray-800 text-gray-50 dark:text-gray-100 text-sm rounded-md hover:bg-gray-800 dark:hover:bg-gray-700 hover:text-white transition-all duration-200">
            Hire me
        </a>
    </div>
</section>
