<div class="max-w-5xl mx-auto relative mt-16 content">
    <article class="lg:py-32 max-w-2xl mx-auto">
        <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{{ title }}</h1>
        <!--<div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            Published
            {{ if topics }}
                in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
            {{ /if }}
            on {{ date format="M j, Y" }}
        </div>-->
        <div class="content">
            {{ content | widont }}

            <div class="mt-8">
                {{ gallery }} {{ image }}
                <div class="w-full overflow-hidden">
                    <a
                        href="{{ url }}"
                        target="_blank"
                        class="block w-full h-full"
                    >
                        <img src="{{ glide src="{{ url }}" width="1280"
                        height="900" }}" alt="{{ alt }}" class="w-full h-auto
                        object-cover hover:scale-105 transition-transform
                        duration-300" />
                    </a>
                </div>
                {{ /image }} {{ /gallery }}
            </div>
        </div>
    </article>
</div>
