# Application
public/app/mu-plugins/*/
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep
public/app/cache/*
public/app/wp-cache-config.php
public/app/advanced-cache.php
public/app/db.php

# WordPress
public/wp
public/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
