<section class="py-10 md:py-16 bg-white dark:bg-gray-900 transition-colors duration-300">
    <div class="container max-w-screen-xl mx-auto px-4">
        <article class="mb-16 sm:mb-24 content">
            <header class="mb-8">
                <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{{ title }}</h1>
                <div class="mt-4 text-sm">
                    {{ date }}
                </div>
            </header>
            <div class="max-w-none prose sm:prose-lg content">
                {{ content | widont }}
            </div>
            <div class="mt-8 flex flex-wrap items-center gap-6 text-sm justify-between sm:mt-12 sm:text-base">
                <div class="flex flex-wrap gap-x-5 gap-y-1 text-sm">

                    {{ if topics }}
                        in
                        {{ topics }}
                            <a class="text-main hover:underline" href="{{ url }}">
                                {{ title }}
                            </a>
                        {{ /topics }}
                    {{ /if }}
                </div>

            </div>
        </article>
    </div>
</div>

<style>
.content pre code {
    overflow-x: auto;
}
</style
